/* GENERAL */

/* navigation bar */
@media (max-width: 1199.98px) {
    .navbar-collapse {
        font-size: x-small;
    }
    .home {
        font-size: smaller;
    }
    .category-banner .category-text{
        font-size: small;
    }
}

.owl-home .card,
.owl-brand .card {
    border: none;
}

/* other */
.top {
    background-color: rgba(255, 255, 255, 0.6);
}
 .top .mobile a {
     font-size: small;
 }

.top .fa-mobile-alt {
    font-size: larger;
}

.list .nav-item .active {
    background-color: black;
    color: white;
}

.list .nav-item .non-active {
    background-color: none;
    color: black;
}

.list .nav-item a{
    color: black;
}

.list .nav-item .non-active:hover {
    background-color: none;
    color: #138496;
}

.list .pagination i {
    background-color: #f8f9fa;
    color: black;
}

.list .pagination i:hover {
    background-color: grey;
    color: white;
    transition: 0.1s;
}

.list .row {
    height: 2rem;
    line-height: 2rem;
}

.list .nav-tabs {
    border-bottom: none;
}

.list .center {
    justify-content: center;
}

.list .right {
    justify-content: right;
}

.list .dropdown-divider {
    margin: 1.5rem 0;
    border-top: 2px solid #e9ecef;
}

/* REGISTRATION MODAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#registrationModal .modal-content{
    background-color: transparent;
    border: none;
}

#registrationModal .modal-content .close{
    color: white;
    opacity: inherit;
}

#registrationModal .modal-header {
    border-bottom: none;
}

.body-registration {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: -20px 0 20px;
}

.body-registration h1 {
    font-weight: bold;
	margin: 0;
}

.body-registration h2 {
    text-align: center;
}

.body-registration p {
    font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.body-registration span {
    font-size: 12px;
}

.body-registration a {
	color: #333;
	font-size: 14px;
	margin: 15px 0;
}

.body-registration .social-container a:hover {
	text-decoration: none;
	background-color: black;
	color: white;
	transition: 0.6s;
}

.body-registration button {
	border-radius: 20px;
	border: 1px solid black;
	background-color: black;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.body-registration .static:hover {
    background-color: white;
    color: black;
    transition: 0.4s ease-in-out;
}

.body-registration button:active {
	transform: scale(0.95);
}

.body-registration button:focus {
	outline: none;
}

.body-registration button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.body-registration form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.body-registration .form-group {
    padding: 0;
    margin: 0;
}

.body-registration .form-group .invalid-tooltip {
    background-color: black;
    opacity: 80%;
}

.body-registration input {
	background-color: #eee;
	border: none;
	padding: 7px 15px;
	margin: 7px 0;
	width: 100%;
}

.body-registration .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.body-registration .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.body-registration .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.body-registration .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.body-registration .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.body-registration .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.body-registration .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.body-registration .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.body-registration .overlay {
	background: #010101;
	background: -webkit-linear-gradient(to right, #0f4c75, #010101);
	background: linear-gradient(to right, #0f4c75, #010101);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.body-registration .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.body-registration .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.body-registration .overlay-left {
	transform: translateX(-20%);
}

.body-registration .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.body-registration .overlay-right {
	right: 0;
	transform: translateX(0);
}

.body-registration .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.body-registration .social-container {
	margin: 20px 0;
}

.body-registration .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* PLANS MODAL */
#plansModal .modal-content{
    background-color: transparent;
    border: none;
}

#plansModal .modal-content .close{
    color: white;
    opacity: inherit;
}

#plansModal .modal-header {
    border: none;
}

#plansModal .card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#plansModal .card-body {
    background: -webkit-linear-gradient(to right, #0f4c75, #010101);
	background: linear-gradient(to right, #0f4c75, #010101);
}

#plansModal li {
    list-style: none;
}

#plansModal .fa-check-circle {
    font-family: "Font Awesome 5 Free";
    color: #a7d129;
}

#plansModal .fa-times-circle {
    font-family: "Font Awesome 5 Free";
    color: #c72c41;
}

#plansModal .modal-body .col-md-4:hover {
    transform: scale(1.15);
    transition: 0.6s;
    z-index: 99;
}

/* DROPDOWN */
.dropdown-menu {
    border: none;
}

.middle .nav-pills .nav-link.active,
.middle .nav-pills .show > .nav-link {
    background-color: white;
}

.top .dropdown-menu .dropdown-item:active,
.middle .nav-pills .dropdown-menu .dropdown-item:active {
    background-color: black;
}

.headset {
    padding: 10px;
}

.headset td {
    padding-left: 4px;
    padding-right: 4px;
}

.search .fa-search {
    cursor: pointer;
}

.search {
    height: 30px;
}

.search span {
    border: none;
    background-color: transparent;
}

.search input[type="text"] {
    height: 30px;
    width: 250px;
    border-style: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    background-color: transparent;
    font-size: small;
}

.search input[type="text"]:focus {
    box-shadow: none;
    border-bottom: 2px solid black;
}

.menu ul > li {
    top: 15px;
    font-family: 'Oswald', sans-serif;
}

/* BANNER */
.banner img {
    height: 615px;
    width: max-content;
    -webkit-filter:contrast(55%);
}

.banner .h1-banner {
    font-family: 'Oswald', sans-serif;
}

/* --------------- INDEX /HOME ------------------ */

/* SECTION 1: Home */
.home .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.home img {
    -webkit-filter:contrast(80%);
    -webkit-filter: brightness(80%);
}
.home img:hover {
    -webkit-filter:contrast(100%);
}

.home .left-right-picture h5 {
    z-index: 100;
    color: white;
    margin-top: 40px;
    background-color: black;
    padding: 5px;
}

.home .left-right-picture h3 {
    z-index: 100;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

.home .middle-picture h4 {
    z-index: 100;
    color: white;
    margin-top: 40px;
    padding: 5px;
}

.home .middle-picture h1 {
    z-index: 100;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

/* SECTION 2: Inspiration */
.inspiration .inspiration-card {
    position: relative;
}

.inspiration .inspiration-card .inspiration-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.inspiration .inspiration-card .inspiration-text > * {
    transform: translateY(20px);
    transition: 0.25s;
}

.inspiration .inspiration-card .inspiration-text:hover {
    opacity: 1;
}

.inspiration .inspiration-card .inspiration-text:hover > * {
    transform: translateY(0);
}

/* CATEGORY BANNER */
.category-banner {
    position: relative;
}

.category-banner .image {
    display: block;
    width: 100%;
    height: auto;
}

.category-banner .category-text {
    position: absolute;
    bottom: 0;
    left: 100%;
    /* right: 0; */
    padding: 10% 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;

    color: white;
    white-space: nowrap;
}

.category-banner:hover .category-text {
    width: 40%;
    left: 60%;
}

.category-banner .category-text .text {
    color: white;
    position: relative;
}

/* SECTION 9: Category Table */
.category-table .table-text h1 {
    position: absolute;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    line-height: 3;
}

.category-table .table-text button {
    z-index: 100;
    margin-top: 225px;
    border-radius: 20px;
    border: 2px solid white;
}

/* SECTION 11: Blog Posts */
.card-blog, .card-blog .card-footer {
    border: none;
}

.card-blog .card-body a {
    text-decoration: none;
}

.card-blog .card-body a:hover {
    color: grey;
}

.card-blog .card-body h5 {
    font-family: 'Oswald', sans-serif;
}

.card-blog .card-body h5 a {
    color: black;
}

.card-blog .card-body .card-text a {
    color: black;
    font-weight: lighter;
}

/* --------------- ABOUT US ------------------ */

/* SECTION 1: About */
.about .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.about img {
    -webkit-filter:contrast(80%);
    -webkit-filter: brightness(80%);
}
.about img:hover {
    -webkit-filter:contrast(100%);
}

.about .left-right-picture h5 {
    z-index: 100;
    color: white;
    margin-top: 40px;
    background-color: black;
    padding: 5px;
}

.about .left-right-picture h3 {
    z-index: 100;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

.about .middle-picture h4 {
    z-index: 100;
    color: white;
    margin-top: 40px;
    padding: 5px;
}

.about .middle-picture h1 {
    z-index: 100;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

/* SECTION 2: WHO WE ARE */
.who-we-are h3,
.shape-the-future h3,
.what-we-do h3,
.learn-more h3,
.part-us h3,
.part-us .part-us-card .part-us-text h4,
.part-us .description button {
    font-family: 'Oswald', sans-serif;
}

/* SECTION 6: Be part of us */
.part-us .part-us-card {
    position: relative;
}

.part-us .part-us-card .part-us-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.part-us .part-us-card .part-us-text > * {
    transform: translateY(20px);
    transition: 0.25s;
}

.part-us .part-us-card .part-us-text:hover {
    opacity: 1;
}

.part-us .part-us-card .part-us-text:hover > * {
    transform: translateY(0);
}

.part-us .part-us-card .part-us-text .part-us-socmed a {
    color: white;
    font-size: larger;
}

.part-us .description button {
    border: 2px solid black;
    border-radius: 20px;
}

/* --------------- BLOG ------------------ */

/* HEADLINE */

.headline .headline-text {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: -300px;
    right: 0;
    z-index: 100;
    padding: 40px;
    height: 300px;
}

.headline .headline-text h2,
.headline .headline-text h4,
.headline .headline-text h5 {
    font-family: 'Oswald', sans-serif;
}

.headline .headline-text h5 {
    border-bottom: 4px solid white;
    display: inline-block;
}

.headline .headline-text h5 a {
    color: white;
}

/* SECTION 2: MAIN NEWS */

/* 2a: SIDEBAR */
#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

.sidebar-expanded {
    width: 250px;
}

.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    background-color: #333;
    height: 100px;
    margin: 10px 0;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* 2b: CONTENT */
.main-news .main-post .post-text h4,
.main-news .main-post .post-text h6,
.main-location .main-post .post-text h6 {
    font-family: 'Oswald', sans-serif;
}

.main-news .main-post,
.main-location .main-post {
    border: none;
    border-bottom: 7px solid black;
}

.main-news .col-md-9 {
    display: inline-flex;
}

.main-news .main-post .img-wrapper,
.main-location .main-post .img-wrapper {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.main-news .main-post .img-wrapper img,
.main-location .main-post .img-wrapper img {
    transition: 0.7s;
}

.main-news .main-post .img-wrapper:hover img,
.main-location .main-post .img-wrapper:hover img {
    transform: scale(1.2);
}

.main-news .main-post .post-text h4 a {
    color: black;
}

.main-news .main-post .post-text h4 a:hover {
    transition: 0.25s;
    color: grey;
    text-decoration: none;
}

.main-news .main-post .post-text h6 a {
    color: black;
    border-bottom: 4px solid black;
}

.main-news .main-post .post-text h6 a:hover {
    transition: 0.25s;
    color: grey;
    text-decoration: none;
    border-bottom: 4px solid grey;
}

.main-location .main-post .post-text .col-md-8 .col-md-4 a {
    text-decoration: none;
    color: black;
}

.main-location .main-post .post-text .col-md-8 .col-md-4 a:hover {
    color: grey;
}

/* -------------CONTACT US ----------------- */
.contact {
    margin-top: 103px;
}

.contact .contact-content .main-post .post-text {
    padding-top: 0;
}

/* ------------ TO DO ----------------- */
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
}
.clear i:hover{
    cursor: pointer;
    transform: rotate(45deg);
}
#date{
    bottom: 10px;
    left: 10px;
}

.content{
    width:380px;
    height: 350px;
    max-height:350px;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.circle{
    position: absolute;
    font-size: 20px;
    padding-left:5px;
    left:15px;
    top:20px;
}
.item i.circle:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    left:50px;
    top:15px;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #a2b29f;
}
.item i.trash{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:20px;
}
.item i.trash:hover{
    color: red;
    cursor: pointer;
}

/* ------------- PORTFOLIO ------------------ */
.portfolio .portfolio-image .img-thumbnail {
    box-shadow: 3px 3px 3px 0;
}

/* --------------- FOOTER ------------------ */

/* SECTION 12: Footer Body */
.footer-header {
    background-color: black;
    color: white;
}

.footer-header .facilities {
    text-align: center;
}

.footer-header .facilities h5,
.footer-header .description h6,
.footer-header .subscription h6,
.footer-header .language h6,
.footer-header .payment-option h6 {
    font-family: 'Oswald', sans-serif;
}

.footer-header .description p {
    text-align: justify;
    font-size: smaller;
}

.footer-header .subscription .app-icon img {
    width: 60%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 0;
}

.footer-header .subscription .social-media i {
    color: white;
    font-size: x-large;
}

.footer-header .subscription a {
    color: white;
}

.footer-header .subscription p {
    font-size: smaller;
}

.footer-header .subscription .submit-email {
    height: 30px;
}

.footer-header .subscription .submit-email input[type="email"] {
    height: 30px;
    width: 300px;
    border-style: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-color: transparent;
    font-size: small;
    text-align: center;
    color: white;
}

.footer-header .subscription .submit-email input[type="email"]:focus {
    box-shadow: none;
    border-bottom: 2px solid white;
}

.footer-header .subscription .submit input[type="submit"] {
    border-radius: 5px;
    font-size: larger;
    padding: 8px;
}

.footer-header .subscription .submit input[type="submit"]:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: larger;
    padding: 8px;
}

.footer-header .payment-option i {
    color: white;
    font-size: 40px;
    margin: 0 8px;
}

.footer-header .language a {
    border-right: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: small;
}

footer {
    color: white;
    background-color: black;
    font-size: small;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
}

footer a:hover {
    color: grey;
    text-decoration: none;
}